.images{
  margin: 0 auto;
}
@media screen and (max-width: 1024px){
  .images{
    max-width: 1024px;
    max-height: 753px;
  }
}
@media screen and (max-width: 550px){
  .images{
    max-width: 320px;
    max-height: none;
  }
}
.images:last-of-type{
  padding-top: 58px;
  padding-bottom: 61px;
  background-image: url(../../images/images__backround-last.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1024px){
  .images:last-of-type{
    padding-top: 28px;
  }
}
@media screen and (max-width: 768px){
  .images:last-of-type{
    background-attachment:scroll;
    padding-top: 18px;
  }
}