.our-team__name{
  margin: 0;
  width: 218px;
  border-bottom: 1px solid #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 101px;
}