.info__paragraph_first{
  margin-left: 84px;
}
@media screen and (max-width: 1280px)  {
  .info__paragraph_first{
    margin-left: 38px;
  }
}
@media screen and (max-width: 1024px)  {
  .info__paragraph_first{
    margin-left: 40px;
  }
}
@media screen and (max-width: 1024px)  {
  .info__paragraph_first{
    margin-left: 5px;
  }
}
@media screen and (max-width: 768px)  {
  .info__paragraph_first{
    margin-left: 0px;
  }
}