.info__paragraph_second{
  margin-right: 84px;
}
@media screen and (max-width: 1280px)  {
  .info__paragraph_second{
    margin-right: 38px;
  }
}
@media screen and (max-width: 1024px)  {
  .info__paragraph_second{
    margin-right: 40px;
  }
}
@media screen and (max-width: 1024px)  {
  .info__paragraph_second{
    margin-right: 5px;
  }
}
@media screen and (max-width: 768px)  {
  .info__paragraph_second{
    margin-right: 0px;
  }
}