@import url(../Inter/inter.css);
@import url(../blocks/body/body.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_active/popup_active.css);
@import url(../blocks/popup/__overlay/popup__overlay.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__info/popup__info.css);
@import url(../blocks/popup/__link/popup__link.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__nav-item/header__nav-item.css);
@import url(../blocks/images/images.css);
@import url(../blocks/images/__title/images__title.css);
@import url(../blocks/images/__container/images__container.css);
@import url(../blocks/images/__item/images__item.css);
@import url(../blocks/images/__paragraph/images__paragraph.css);
@import url(../blocks/images/__link/images__link.css);
@import url(../blocks/images/__link-menu/images__link-menu.css);
@import url(../blocks/our-team/our-team.css);
@import url(../blocks/our-team/__title/our-team__title.css);
@import url(../blocks/our-team/__subtitle/our-team__subtitle.css);
@import url(../blocks/our-team/__container/our-team__container.css);
@import url(../blocks/our-team/__image/our-team__image.css);
@import url(../blocks/our-team/__name/our-team__name.css);
@import url(../blocks/info/info.css);
@import url(../blocks/info/__item/info__item.css);
@import url(../blocks/info/__image/info__image.css);
@import url(../blocks/info/__paragraph/info__paragraph.css);
@import url(../blocks/info/__paragraph/_first/info__paragraph_first.css);
@import url(../blocks/info/__paragraph/_second/info__paragraph_second.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__author/footer__author.css);



/* CSS FOR OUR-TEAM */

/* .our-team__button{
  margin: 0;
  margin-right: 56px;
  width:70px;
  height: 70px;
  background: none;
  border: none;
  background-image: url(../images/button.svg);
  transition: opacity 200ms ease-in-out;
}
.our-team__button:hover{
  cursor: pointer;
  opacity: 0.7;
}
.our-team__button:last-of-type{
  margin-left: 56px;
  margin-right: 0;
  transform: rotate(180deg);
} */
/* CSS FOR INFO */


/* CSS FOR FOOTER */
